.Rproj.user
.Rhistory
.RData
.Ruserdata
Thumbs.db
*.html
internal_communication/
rep_scenarios_Seqlb.rds
rep_scenarios_Seqlb_scale.rds
rep_scenarios_Seqlb_scale_hier.rds
rep_scenarios_Seqlb_scale_SOC.rds
rep_scenarios_ChronicInability.rds